/* TextEditor.css */

.ql-toolbar {
  background-color: black;
  color: white;
}

.ql-toolbar .ql-picker-label,
.ql-toolbar,
.ql-strike {
  color: white;
}

.ql-container {
  border-radius: 0 0 0.75rem 0.75rem; /* Adjust this value as needed for your design */
}

.ql-toolbar {
  border-radius: 0.75rem 0.75rem 0 0; /* Top corners rounded */
}
