@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E7E8EB;
  color: white; /* Optional: ensures text is visible on a black background */
}

